*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
}

.main-heading {
    color: #fefefe;
    margin-bottom: 4rem;
}

#game-container {
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
}

.square {
    width: 100px;
    height: 100px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 2px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fefefe;
}

#status {
    margin-top: 20px;
}

#result {
    color: #fefefe;
    margin-bottom: 1rem;
}

#restart-btn {
    font-size: 1.5rem;
    padding: 5px 10px;
    cursor: pointer;
    font-family: inherit;
    background-color: #96E6B3;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    outline: none;
    appearance: none;
}
  